.vscode/**
src/**
test/**
.test-dist/**
.gitignore
tsconfig.json
tsconfig.test.json
**/*.map
node_modules/**
.scannerwork/**
*.zip
docs/images/*.svg

generar-vsix.ps1
generar-vsix.cmd
.github/**
examples/**
